// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Outfit', sans-serif;

$font-size-base: 1rem;
$line-height-base: 1.6;
$font-weight-normal:300;
$headings-font-weight:700;

$white: #ffffff;

$primary:#5d65ee;
$theme-colors: (
    "light":      #FAF8FF,
    "dark":       #474554,
    "primary":    #5d65ee,
    "secondary":  #4160A7,
    "info":       #008AEB,
    "success":    #21bb71,
    "warning":    #FFC559,
    "danger":     #E3233B,
);
